.contact-content{
  float:left;
  width:100%;
  display:block;
}


h3{
  padding:0;
  margin:0;
}

.fa {
    padding: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    color: #3b5998;
}


.fa-github-square {
    color: #333
}

.fa-instagram {
    color: #3f729b;
}


.contact-body{
  float:relative;
}
